.container{
    display: grid;
    grid-template-columns: auto auto;
}
.fullimage{
    display: grid;
    grid-template-columns: auto auto auto;
    width: fit-content; 
    height: fit-content;
    justify-self: center;
    position: sticky;
    top: 0px;
}
.cross-btn{
    height: min-content;
    width: min-content;
    position: absolute;
    right: 17px;
}
.left-btn{
    height: min-content;
    width: min-content;
    align-self: center;
}
.right-btn{
    height: min-content;
    width: min-content;
    align-self: center;
}